#menu {
  width: 100%;
  height: 70px;
  background-color: #39db64;
  margin-top: 0px;
  text-decoration: none; }

#menu ul {
  width: auto;
  float: right;
  margin-top: 0px; }

#menu li {
  display: inline-block;
  padding: 15px 30px; }

#menu a {
  text-align: right;
  font-family: 'Amatic SC', cursive;
  color: black;
  font-size: 25px;
  text-decoration: none;
  transition: height 2s;
  width: 2s; }

#menu a:hover {
  font-size: 30px; }

/*Grilla */
.grid-container {
  display: grid;
  margin: 40px 0 40px 0;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(3, 200px);
  gap: 1px 1px;
  text-align: center;
  justify-content: stretch;
  font-size: 1.5rem;
  grid-template-areas: "bannerUno bannerUno bannerUno bannerUno" "noticiaDos noticiaDos noticiaTres noticiaCuatro" "noticiaCinco noticiaSeis noticiaSiete noticiaCuatro"; }

.bannerUno {
  grid-area: bannerUno;
  background-color: #EFF4F7; }

.noticiaTres {
  grid-area: noticiaTres;
  background-color: #73CAEF; }

.noticiaDos {
  grid-area: noticiaDos;
  background-color: #89FFFB; }

.noticiaCuatro {
  grid-area: noticiaCuatro;
  background-color: #41E2DD; }

.noticiaCinco {
  grid-area: noticiaCinco;
  background-color: #50D8C8; }

.noticiaSeis {
  grid-area: noticiaSeis;
  background-color: #53B4F4; }

.noticiaSiete {
  grid-area: noticiaSiete;
  background-color: #CDE0E4; }

/* Footer */
footer {
  background-color: #e1eef7;
  width: 100%;
  height: 100px;
  padding: 50px 0 0 0; }

footer h5 {
  font-size: 2rem;
  font-weight: 900;
  text-align: center; }
